*.nav2{
  margin: 0%;
  padding: 0%
}
body{
      background-color:honeydew;
    }

.nav{ 
      border-radius: 7px;
      grid-row-start: auto;
      display: grid;
      border: 3px solid goldenrod;
      align-items: center;
      list-style-type:none;
      padding: 20px;
      width: 100%;
      min-width: 320px;
      height: auto;
      position: absolute;
      background-color:lightgreen;
    }  

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

li{
    float: left;
  }

li a{
      padding: 30px 30px;
      font-size: 15px;
      text-decoration: none;
    }

.head{
       text-align: auto;
     }

.nav2{
      grid-template-columns:auto auto;
      padding-top: 30px;
      display: grid;
      background-size: auto;
      object-position: cover;
}
.nav3{
      display: grid;
      grid-template-columns:400px 499px 490px;
      grid-gap:18px;
      object-position: cover;
      padding: 20px;
}

.iframe{
       background-attachment: right;
       /* border: 2px blue; */
}

#h1{
      padding-top:30px;
   }  
 
.em{
      font-size: 20px;
   }
     
.img1{
       border: 3px solid;
       border-color:lightgreen;
       position: auto;
       border-image-width: auto;
       width: 800px;
       height: 400px; 
     }    
     
.img2{
       border: 3px solid;
       border-color:lightgreen;
       position: auto;
       width: 700px;
       height: 400px;
     }
.img{
  border: 3px solid;
  border-color:lightgreen;
  position: auto;
  width: 500px;
  height: 300px;
}
    
.article1{
           border-radius: 3px;
           border: double 5px;
           border-color: blue;
           background-color: lightcyan;
           position: relative;
           padding: 60px; 
          letter-spacing: 2px;         }

.article2{
           border-radius: 3px;
           border: double 5px;
           border-color: blue;
           background-color: lightcyan;
           position: relative;
           padding: 40px;
         }

.article3{
           border-radius: 3px;
           border: ridge 3px;
           border-color:black;
           background-color: lightcyan;
           position: relative;
           padding: 20px;
           letter-spacing: 1px;
         }
.divarticle3{
  display: grid;
  grid-column: auto;
  background-size: auto;
  padding-bottom: 90px;
}
footer{
          background-color: black;
          width: 100%;
          left: 0%;
          bottom: 0%;
          opacity:0.9;
          padding: 10px;
          position: fixed;
          grid-area: auto;
          grid-template-rows: auto;
      }

p{
   text-align: center;
   color: white;
   font-family: Georgia (serif);
 }
  
footer p{
          margin-right: 10px;
        }
 