*.nav2{
  margin: 0%;
  padding: 0%
}
body{
      background-color:honeydew;
    }

.nav{ 
      border-radius: 7px;
      grid-row-start: auto;
      display: grid;
      align-items: center;
      list-style-type:none;
      padding: 35px;
      width: 100%;
      min-width: 300px;
      position: absolute;
      background-color:lightgreen;
    }  

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

li{
    float: left;
  }

li a{
      padding: 30px 30px;
      font-size: 15px;
      text-decoration: none;
    }

.head{
       float: center;
     }

.nav2{
      grid-template-columns:auto auto;
      padding-top: 20px;
      display: grid;
      background-size: auto;
      object-position: cover;
      min-width: 400px;
      min-height: fit-content;
      margin-top: 65px;
}
.nav3{
      display: grid;
      grid-template-columns:435px 499px 500px;
      grid-gap:18px;
      object-position: cover;
      padding: 15px;
}

.iframe{
       background-attachment: right;
       border: 3px blue solid;
       border-radius: 15px;
}

#h1{
      padding-top:30px;
   }  
 
.em{
      font-size: 20px;
   }
     
   #em{
     background-color: lightskyblue;
     text-align: center;
     margin-left: 39%;
     border: 1px black solid;
     border-radius: 15px;
     padding-top: 3px;
     padding-bottom: 3px;
     padding-left:70px ;
     padding-right:70px ;
   }
.img1{
       border: 3px solid;
       border-color:lightgreen;
       position: auto;
       border-image-width: auto;
       width: 750px;
       height: 400px; 
      
     }    
     
.img2{
       border: 3px solid;
       border-color:lightgreen;
       position: auto;
       width: 725px;
       height: 400px;
       
     }
.img{
  border: 3px solid;
  border-color:lightgreen;
  position: auto;
  width: 500px;
  height: 300px;

}
    
.article1{
           min-width: 150px;
           border-radius: 3px;
           border: double 5px;
           border-color: blue;
           background-color: lightcyan;
           position: relative;
           padding: 60px; 
          letter-spacing: 2px;      
           }

.article2{
           border-radius: 3px;
           border: double 5px;
           border-color: blue;
           background-color: lightcyan;
           position: relative;
           padding: 40px;
           min-width: 150px;
         }

.article3{
           border-radius: 3px;
           border: ridge 3px;
           border-color:black;
           background-color: lightcyan;
           position: relative;
           padding: 20px;
           letter-spacing: 1px;
         }
.divarticle3{
  display: grid;
  grid-column: auto;
  background-size: auto;
  padding-bottom: 90px;
}
footer{
          background-color: black;
          width: 100%;
          left: 0%;
          opacity:0.9;
          padding: 10px;
          position:absolute;
          grid-area: auto;
          grid-template-rows: auto;
      }

p{
   text-align: center;
   color: white;
   font-family: Georgia (serif);
 }
  
footer p{
          margin-right: 10px;
        }
 